:root {
    --background-green: #ccf381;
    --background-purp: #4831d4;
    --subtext-purp: #3d155f;
    --background-white: #f5f4fc;
    --background-work-tile: #f9f8fd;
    --color-work-text: #474747;
    /* --background-work: #e9e6f0; */
}

html,
body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    box-sizing: border-box;
    /* background-color: var(--background-white); */
}

a {
    text-decoration: none;
}

a:visited {
    color: var(--background-purp)
}

a:active {
    color: purple;
}

h1 {
    color: var(--background-green);
    font-size: 3.8vw;
    line-height: 90%;
}

h1 span {
    color: white;
}

h2 {
    color: white;
    font-weight: 400;
    font-size: 1.1vw;
}

h3 {
    color: white;
    font-weight: 400;
}

h4 {
    font-weight: 400;
}


.logo {
    position: absolute;
    top: 10%;
    left: 3%;
    width: 7%;
    z-index: 2;

}

.navigation--container {
    width: 100%;
    position: absolute;
    display: flex;
    height: 39vw;
}


.main--container {
    display: flex;
    height: 39vw;
    background: linear-gradient(90deg, var(--background-purp) 67%, var(--background-green) 33%);

}

.main--left {
    position: relative;
    left: 15%;
    top: 18%;
    width: 35%;
}

.subtext {
    font-size: 0.8vw;
    color: #ccf381;
    display: flex;
    position: absolute;
    left: 0%;
    top: 55%;
    width: 85%;
}

.subheading {
    margin-right: 10%;
    width: 70%;
}


.main--right {
    position: relative;
    left: 22%;
    top: 18%;
    height: 30vw;
    width: 20%;
    /* border: 1px black solid; */
}


.menu {
    position: absolute;
    height: 70%;
    width: 85%;
    left: 290%;
    top: -17.5%;
    background-color: white;
    transition: all 0.4s;
    opacity: 0%;
    visibility: hidden;
    z-index: 2;



}

.menu.visible {
    opacity: 100%;
    visibility: visible;

}




.menu--dropdown {
    width: 15%;
    position: absolute;
    cursor: pointer;
    z-index: 2;

}

.menu--text {
    position: absolute;
    margin-left: 10%;
    top: 10%;
    font-size: 1.1vw;
    color: var(--background-purp);
    font-weight: 400;
    transition: all 0.4s;

}

.visible .menu--text {
    transform: translate(0px, 10%);
}



.hello {
    color: grey;
}

.top--menu {
    top: -12.5%;
    right: -270%;
    transition: transform 0.5s;
    transform-origin: 30% 70%;
    z-index: 3;
}

.top--menu.motion {
    transform: rotate(0deg);
}

.top--menu.reverse--motion {
    transform: rotate(45deg);
}




.bottom--menu {
    top: -10%;
    right: -270%;
    transition: transform 0.8s;
    transform-origin: 40% 60%;
    z-index: 3;

}

.bottom--menu.motion {
    transform: rotate(0deg);
}

.bottom--menu.reverse--motion {
    transform: rotate(-45deg);
}




.headshot {
    position: absolute;
    top: 10%;
    left: 15%;
    z-index: 2;
}

img.headshot {
    width: 75%;
}

.whiteframe {
    position: absolute;
    top: 17%;
    left: 18%
}

img.whiteframe {
    width: 85%;
}


.main--img {
    width: 145%;
    top: -5%;
    left: -14%;
    position: absolute;
}


.page--markers {
    position: absolute;
    width: 4vw;
    right: -275%;
    top: 85%;
    z-index: 2;
}



.marker {
    position: relative;
    width: 25%;
    right: -40%;
    display: block;
    margin-top: 15%;
    transition: all 0.5s;
}

.filled {
    margin-top: 15%;
    transform: rotate(45deg);
    width: 10%;
    right: -47.5%;
    text-align: center;
    cursor: pointer;
}




.squiggle {
    position: absolute;
    width: 10%;
    height: 80%;
    top: 30%;
    left: -40%;
}

.skills {
    display: flex;
}



.skills--left {
    position: absolute;
    top: 25%;
    left: 20%;
    width: 27vw;
}

.skills--left img {
    width: 60%;
    position: absolute;
    right: 0%
}

.skills--left .green {
    width: 40%;
    top: -20%;
    left: 40%;
}

.skills--left h1 {
    color: var(--background-purp);
}

.skills--left h5 {
    font-size: 0.7vw;
    font-weight: 400;
    color: var(--subtext-purp);
}

.skills--right {
    position: absolute;
    top: 45%;
    left: 50%;
    width: 27vw;
    margin-left: 5%;

}

.skills--right img {
    /* border: 1px solid black; */
    right: 20%;
    top: -75%;
    width: 55%;
    position: absolute;
}

.skills--right h1 {
    color: var(--background-purp);
}

.skills--right h5 {
    font-size: 0.7vw;
    font-weight: 400;
    color: var(--subtext-purp);
}

.squiggle--skills {
    position: absolute;
    width: 5%;
    height: 80%;
    top: -20%;
    left: 0%;
    z-index: 1;
}

.aboutme--top {
    background-color: var(--background-purp);
    height: 100vh;
}

.aboutme--container {
    display: flex;
    position: absolute;
    left: 20%;
    top: 20%;
}

.aboutme--content {
    width: 55%;
    top: 30%;
    position: relative;
}

.aboutme--image {
    width: 70%;
    position: relative;
    top: 0%;
}

.work--top {
    background-color: var(--background-white);
    position: absolute;
    height: 100vh;
    width: 100%;
}

.work--text {
    position: absolute;
    left: 42%;
    top: 15%;
    text-align: center;
    font-family: source sans pro;

}

.work--text h2 {
    color: var(--color-work-text);
    font-size: 2.5rem;
    font-weight: 700;
}

.work--text span {
    color: #7c7c7e;
}

.tile--container {
    position: absolute;
    width: 55%;
    height: 50%;
    left: 23%;
    top: 30%;
    display: grid;
    grid-template: 1fr 1fr / repeat(3, 1fr);
    gap: 2% 1%;

}

.tile {
    /* border: 1px solid black; */
    position: relative;
    background-color: var(--background-work-tile);
    display: flex;
    flex-direction: column;
}

.tile:hover {
    transform: translateY(-4px);
    transition: all 0.2s;
    cursor: pointer;
}


.tile--top {
    height: 70%;

}

.tile--bottom {
    background-color: white;
    font-size: 1.5rem;
    text-align: center;
    height: 30%;
    /* border: 1px solid black; */

}

.tile--top img {
    position: relative;
    top: 20%;
    left: 35%;
    width: 30%;
}

.elements--container {
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: var(--background-white);
}

.elements--container p {
    display: inline;
    color: var(--color-work-text);
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.elements--container h2 {
    color: var(--color-work-text);
    font-size: 2rem;
    font-weight: 700;
    position: absolute;
    left: 47%;
    top: 10%;
}

.elements--container img {
    width: 50%;
    height: 100%;
    /* object-fit: contain; */

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.elements--content {
    display: flex;
    position: absolute;
    top: 20%;
    left: 15%;

}

.elements--text {
    width: 30%;
    margin-right: 5%;
    padding: 1%;
    border-radius: 5%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}