:root {
    --background-green: #ccf381;
    --background-purp: #4831d4;
    --subtext-purp: #3d155f;
    --background-white: #f5f4fc;
    --background-work-tile: #f9f8fd;
    --color-work-text: #474747;
    --color-accent-purp: rgb(61, 21, 95);
    --underline-intrinsic-width: 8;
    --underline-width: 12;
    --underline-color: var(--background-green);
    --underline-cap-width: 4px;
    --underline-offset-y: -2px;
    --underline-padding-x: 0.12em;
}

html::-webkit-scrollbar {
    display: none;
}

html,
body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    box-sizing: border-box;
    background-color: var(--background-white);
}

a {
    text-decoration: none;
}

a:visited {
    color: var(--background-purp)
}

a:active {
    color: purple;
}

h1 {
    color: var(--background-green);
    font-size: clamp(25px, 3.8vw, 60px);
    line-height: 90%;
}

h1 span {
    color: white;
}

h2 {
    color: white;
    font-weight: 400;
    font-size: clamp(10px, 1.1vw, 40px);
}

h3 {
    color: white;
    font-weight: 400;
}

h4 {
    font-weight: 400;
}

/* Navigation */


.logo {
    position: absolute;
    top: 10%;
    left: 3%;
    width: clamp(100px, 7%, 400px);
    z-index: 4;

}

.nav--right {
    position: absolute;
    left: 22%;
    top: 18%;
    height: 30vw;
    width: 20%;
}


.navigation--container {
    width: 100%;
    position: absolute;
    display: flex;
    height: 39vw;
}

.menu {
    position: absolute;
    height: 70%;
    width: 85%;
    left: 290%;
    top: -17.5%;
    background-color: white;
    transition: all 0.4s;
    opacity: 0%;
    visibility: hidden;
    z-index: 3;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.menu.visible {
    opacity: 100%;
    visibility: visible;

}

.menu--dropdown {
    width: clamp(40px, 15%, 200px);
    position: absolute;
    cursor: pointer;
    z-index: 5;
}

.menu--text {
    position: absolute;
    margin-left: 10%;
    top: 10%;
    font-size: clamp(10px, 1.1vw, 40px);
    color: var(--background-purp);
    font-weight: 400;
    transition: all 0.4s;
}

.menu--projects {
    cursor: pointer;
}

.menu h5:active {
    color: purple;
}

.visible .menu--text {
    transform: translate(0px, 10%);
}

.hello {
    color: grey;
}

.top--menu {
    top: -12.5%;
    right: -270%;
    transition: transform 0.5s;
    transform-origin: 30% 70%;
    z-index: 6;
}

.top--menu.motion {
    transform: rotate(0deg);
}

.top--menu.reverse--motion {
    transform: rotate(45deg);
}

.bottom--menu {
    top: -10%;
    right: -270%;
    transition: transform 0.8s;
    transform-origin: 40% 50%;
    z-index: 6
}

.bottom--menu.motion {
    transform: rotate(0deg);
}

.bottom--menu.reverse--motion {
    transform: rotate(-45deg);
}



.page--markers {
    position: absolute;
    width: clamp(60px, 5vw, 200px);
    right: -275%;
    top: 82%;
    z-index: 2;
}

.marker {
    position: relative;
    width: 25%;
    right: -40%;
    display: block;
    margin-top: 15%;
    transition: all 0.5s;
}

.filled {
    margin-top: 15%;
    transform: rotate(45deg);
    width: 10%;
    right: -47.5%;
    text-align: center;
    cursor: pointer;
}

@media screen and (max-width: 900px) {
    .top--menu {
        transform-origin: 30% 140%;

    }

    .bottom--menu {
        transform-origin: 45% 0%;

    }
}

@media screen and (max-width: 800px) {
    .menu {
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        height: 100vh;
        width: 100vw;
        z-index: 3;
    }

    .top--menu {
        top: -15%;
    }

    .bottom--menu {
        top: -10%;
    }

    .menu--text {
        position: absolute;
        margin-left: 15%;
        top: 5%;
        font-size: clamp(25px, 6vw, 50px);
    }

    .hello {
        padding-top: 40%;
    }

}

@media screen and (max-width: 500px) {
    .top--menu {
        transform-origin: 30% 120%;

    }

    .bottom--menu {
        transform-origin: 55% 60%;

    }
}



/* Main */

.main--container {
    background: linear-gradient(90deg, var(--background-purp) 67%, var(--background-green) 33%);
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 22%;
    left: 0px;
}

.main--content {
    display: flex;
    position: relative;
    top: 30%;
}



.main--left {
    position: relative;
    left: 15%;
    top: 18%;
    width: 35%;
}

.subtext {
    font-size: clamp(10px, 0.8vw, 18px);
    color: #ccf381;
    display: flex;
    position: absolute;
    left: 0%;
    width: 85%;
    margin-top: 5%;
}

.subheading {
    margin-right: 10%;
    width: clamp(300px, 70%, 1000px);
}


.main--right {
    position: relative;
    left: 22%;
    top: 18%;
    height: 30vw;
    width: clamp(250px, 20%, 1000px);
}



.headshot {
    position: absolute;
    top: 10%;
    left: 15%;
    z-index: 2;
}

img.headshot {
    width: 75%;
}

.whiteframe {
    position: absolute;
    top: 17%;
    left: 18%
}

img.whiteframe {
    width: 85%;
}


.main--img {
    width: 145%;
    top: -5%;
    left: -14%;
    position: absolute;
}


.squiggle {
    position: absolute;
    width: 10%;
    height: 80%;
    top: 30%;
    left: -40%;
}

@media screen and (max-width: 800px) {
    .main--left h1 {
        font-size: clamp(45px, 8vw, 60px);
    }

    .main--container {
        background: linear-gradient(0deg, var(--background-green) 45%, var(--background-purp) 33%);
        bottom: 0;

    }

    .main--content {
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 90%;
        top: 0%;
    }


    .main--left {
        left: 0;
        top: 0%;
        width: clamp(250px, 50%, 1000px);
        height: clamp(320px, 45vw, 390px);
    }

    .main--left h2 {
        font-size: clamp(14px, 1.8vw, 20px);

    }

    .main--left h4 {
        font-size: clamp(10px, 1.3vw, 20px);
    }

    .main--right {
        left: -2%;
        width: clamp(200px, 62%, 350px);
        top: 0%;

    }
}

@media screen and (max-height: 700px) {
    .main--right {
        width: clamp(200px, 42%, 1000px);

    }
}




/* Skills */

.skills--background {
    background-color: var(--background-white);
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.skills {
    display: flex;
}

.skills--left {
    position: absolute;
    top: 25%;
    left: 20%;
    width: 27vw;
}

.skills--left img {
    width: 60%;
    position: absolute;
    right: 0%
}

.skills--left .green {
    width: 40%;
    top: -20%;
    left: 40%;
}

.skills--left h1 {
    color: var(--background-purp);
}

.skills h5 {
    font-size: clamp(10px, 0.7vw, 40px);
    font-weight: 400;
    color: var(--subtext-purp);
}

.skills--right {
    position: absolute;
    top: 45%;
    left: 50%;
    width: 27vw;
    margin-left: 5%;
}

.skills--right img {
    right: 20%;
    top: -75%;
    width: 55%;
    position: absolute;
}

.skills--right h1 {
    color: var(--background-purp);
}


.squiggle--skills {
    position: absolute;
    width: 5%;
    height: 80%;
    top: -20%;
    left: 0%;
    z-index: 1;
}

@media screen and (max-width: 800px) {
    .skills {
        position: absolute;
        top: 10%;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 80%
    }

    .skills--left {
        position: relative;
        width: 70%;
        top: 0;
        left: 0;
        margin-top: 5%;
    }

    .skills--right {
        position: relative;
        width: 70%;
        top: 0;
        left: 0;
        margin-left: 0;
        margin-bottom: 5%;
    }

    .skills h1 {
        font-size: clamp(32px, 5vw, 50px);
    }


    .skills h5 {
        font-size: clamp(11px, 2vw, 40px);
    }



}

/* AboutMe */

.aboutme--top {
    background-color: var(--background-purp);
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.aboutme--container {
    display: flex;
    position: absolute;
    width: 80%;
    left: 15%;
    top: 25%;
}

.aboutme--content {
    width: clamp(100px, 45%, 700px);
    top: 30%;
}

.aboutme--content h3 {
    font-size: clamp(10px, 0.85vw, 40px);
}

.aboutme--image {
    position: relative;
    width: clamp(400px, 45%, 1000px);
    margin-left: 20px;
    object-fit: contain;
}

.aboutme--container br {
    content: "";
    margin: 2em;
    display: block;
    font-size: 24%;
}

@media screen and (max-width: 1000px) {
    .aboutme--image {
        top: 20%;
    }
}

@media screen and (max-width: 800px) {
    .aboutme--container {
        left: 0%;
        top: 10%;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: space-around;
        height: 80%;

    }

    .aboutme--content {
        position: relative;
        width: clamp(300px, 70%, 2000px);
        top: 0;
    }

    .aboutme--content h1 {
        font-size: clamp(28px, 5.5vw, 50px);
    }

    .aboutme--content h3 {
        font-size: clamp(11px, 3vw, 15px);
    }

    .aboutme--image {
        position: relative;
        margin-left: 0;
        width: 80%;
        top: 0;
    }


}

/* Work / Tile */

.work--top {
    background-color: var(--background-white);
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.work--container {
    position: absolute;
    height: 80%;
    width: 90%;
    top: 10%;
    left: 5%;
}

.work--text {
    position: relative;
    top: 5%;
    text-align: center;
    font-family: 'source sans pro';

}

.work--text h2 {
    color: var(--color-work-text);
    font-size: 2.5rem;
    font-weight: 700;
}

.work--text span {
    color: #7c7c7e;
}

.tile--container {
    position: relative;
    display: grid;
    grid-template: 1fr 1fr / repeat(3, 1fr);
    gap: 3% 1.5%;
    width: 55%;
    height: 60%;
    left: 23%;
    top: 10%;


}

.tile {
    position: relative;
    background-color: var(--background-work-tile);
    display: flex;
    flex-direction: column;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.tile:hover {
    transform: translateY(-6px);
    transition: all 0.2s;
    cursor: pointer;
}

.tile--subcontainer {
    position: relative;
    height: 100%;

}

.tile--top {
    height: 70%;
}

.tile--bottom {
    display: table;
    position: absolute;
    background-color: white;
    font-size: 1.5rem;
    height: 30%;
    bottom: 0;
    width: 100%;
}

.tile--bottom h5 {
    text-align: center;
    display: table-cell;
    vertical-align: middle;

}

.tile--top img {
    position: relative;
    top: 5%;
    left: 30%;
    right: 30%;
    width: clamp(50px, 40%, 160px);
    margin-bottom: 20%;
}

@media screen and (max-width: 1000px) {

    .work--container {
        height: 90%;
        width: 90%;
        top: 5%;
    }

    .tile--container {
        width: 90%;
        left: 5%;
        top: 5%;
        display: grid;
        grid-template: repeat(3, 1fr) / 1fr 1fr;
        gap: 5% 4%;
        height: 60%;
    }

    .tile {
        display: flex;
        flex-direction: column;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }

    .tile--top {
        height: 70%;
    }

    .tile--bottom {
        height: 30%;
    }

    .tile--bottom h5 {
        font-size: clamp(13px, 3vw, 24px);
    }

    .tile--subcontainer {
        height: 100%;
        width: 100%;
    }


    .tile--top img {
        width: clamp(50px, 40%, 100px);
        left: 33%;

    }

}


/* TileElements */


.elements--container {
    background-color: var(--background-white);
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.elements--container p {
    display: inline;
    color: var(--color-work-text);
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: 'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif;
}


.elements--container h2 {
    color: var(--color-work-text);
    font-size: 2rem;
    font-weight: 700;
    position: absolute;
    left: 47%;
    top: 10%;
}

.elements--content img {
    transition: 0.5s all;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-right: 25px;
}

.elements--content img:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.elements--content a {
    margin-right: 15%;
    width: 50%;
    height: 100%;
}

.elements--content {
    display: flex;
    position: absolute;
    top: 20%;
    margin-left: 15%;

}

.elements--text {
    width: clamp(500px, 30%, 1000px);
    margin-right: 5%;
    padding: 1%;
    border-radius: 5%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: 1%;
}

@media screen and (max-width: 1600px) {

    .elements--container p,
    .elements--container li,
    .elements--container ul {
        font-size: 0.8rem;
    }

    .elements--container h4 {
        font-size: 1rem;

    }

    .elements--content a {
        position: relative;
        margin-right: 5%;
    }

    .elements--content {
        display: flex;
        position: absolute;
        top: 20%;
        margin-left: 5%;

    }

    .elements--text {
        margin-right: 2%;
        padding: 2%;
    }


}

@media screen and (max-width: 1000px) {

    .elements--container h2 {
        position: relative;
        left: 0;
        width: 100px;
        margin: 0 auto;
        padding-right: 10%;
    }

    .elements--content {
        flex-direction: column-reverse;
        margin-left: 0;
    }

    .elements--content a {
        width: 80%;
        margin: 0 auto;
        top: -25px;
    }

    .elements--text {
        width: clamp(200px, 84%, 1200px);
        padding: 4%;
        border-radius: 3%;
        margin: 0 auto;
        margin-bottom: 3%;


    }

}

/* MessageMe */

.messageme--main {
    background-color: var(--background-white);
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.messageme--container {
    position: absolute;
    top: 20%;
    left: 15%;
    width: 70%;
    height: 60%;

}

.messageme--title {
    position: relative;
    text-align: center;
}

.messageme--title h2 {
    color: var(--background-purp);
    font-weight: 700;
    font-size: 3rem;
}

.messageme--title h4 {
    color: var(--color-accent-purp);
    font-weight: 400;
    font-size: 1.5rem;
}


.form--container {
    height: 40%;
    margin-top: 5%;
}

form {
    position: relative;
    width: 60%;
    height: 50%;
}

.form--row1 {
    display: flex;
    position: relative;
    left: 30%;
    width: 100%;
    justify-content: space-between;
}


label {
    display: block;
    font-size: 1rem;
    opacity: 0.7;

}

.form--name,
.form--email,
.form--message {
    color: var(--color-accent-purp);
    position: relative;
}

.form--name {
    margin-right: 20%;
}

.form--message {
    margin-top: 5%;
    top: 35%;
    left: 30%;
}

@media screen and (max-width: 1200px) {
    .form--row1 {
        left: 0%;
        width: 160%;
    }

    .form--message {
        left: 0%;
        width: 164%;
    }
}


.form--name input,
.form--email input {
    width: 130%;
}


input,
textarea {
    border: none;
    color: var(--color-accent-purp);
    border-bottom: 1px solid rgba(61, 21, 95, 0.5);
    resize: none;
    background-color: var(--background-white);
    height: 2.5rem;
    font-size: 1.5rem;
    font-weight: 200;
    margin-top: 2%;

}

textarea {
    width: 110%;
    height: 4rem;
}

input::placeholder,
textarea::placeholder {
    font-family: 'Source Sans Pro', sans-serif;
    color: var(--color-accent-purp);
    font-weight: 200;
}

.button--container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
}



.button {
    top: 70%;
    left: 30%;
    width: clamp(100px, 20%, 500px);
    position: relative;
    border: 1px solid rgba(61, 21, 95, 0.5);
    height: 3rem;
    font: 22px Arial;
    display: inline-block;
    text-align: center;
    color: var(--background-purp);
    background: purple;
    background: linear-gradient(to left, var(--background-white) 50%, var(--background-purp) 50%) right;
    background-size: 200%;
    transition: .3s ease-out;
}

.button:hover {
    background-position: left;
    color: white;
    cursor: pointer;
}

.button--sent {
    background: rgb(61, 21, 95);
    color: white;
    opacity: 0.5;
}

.button--sent:hover {
    cursor: default;
}


textarea:focus,
input:focus {
    outline: none;
}


::placeholder {
    font-size: 1.5rem;
}

.messageme--checkmark {
    position: absolute;
    z-index: 2;
    width: 15%;
    left: 42.5%;
    top: 37.5%;
    transition: all 0.3s ease-out;
    opacity: 0;
}

.messageme--checkmark.on {
    opacity: 1;
}


@media screen and (max-width: 800px) {
    .messageme--container {

        top: 10%;
        left: 7.5%;
        width: 85%;
    }

    .form--container {
        width: 100%;

    }

    .form--row1 {
        display: flex;
        flex-direction: column;
        position: static;
        width: 100%;
    }

    .form--name,
    .form--email,
    .form--message {
        color: var(--color-accent-purp);
        position: relative;
    }

    .form--name {
        margin-right: 0%;
        margin-top: 4%;
        margin-bottom: 7%;
    }

    .form--message {
        width: 100%;
        margin-top: 1%;
    }

    .form--name input,
    .form--email input {
        width: 100%;
    }

    textarea {
        width: 100%;
    }

    form {
        position: relative;
        width: 100%;
        height: 50%;
    }


    .messageme--title h2 {
        color: var(--background-purp);
        font-weight: 700;
        font-size: clamp(32px, 8vw, 45px);
    }

    .messageme--title h4 {
        color: var(--color-accent-purp);
        font-weight: 400;
        font-size: clamp(16px, 5vw, 30px);
    }


    input::placeholder,
    textarea::placeholder {
        font-size: clamp(18px, 4vw, 30px);
    }

    .button--container {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .button {
        top: 50%;
        left: 0%;
        width: clamp(100px, 20%, 500px);
        font: 22px Arial;
        position: relative;
    }


}


/* Resume */


.resume--section {
    display: flex;
    position: absolute;
    background-color: var(--background-white);
    border: 8vw solid white;
    padding: 3%;
}

.resume--left {
    width: 35%;
}

.resume--left h4 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--background-purp);
    font-weight: 700;
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 1.25rem;

}

.contact--left ul {
    list-style-type: none;
}

.resume--left ul {
    padding: 0;
}

.resume--left li {
    font-size: 1.1rem;
    line-height: 130%;
    margin-top: 1.5%;
    color: rgba(71, 71, 71, 0.75);
}

.contact--left li {
    font-size: 1.1rem;
}


.resume--right {
    margin-left: 4%;
}

.resume--right h1 {
    color: var(--background-purp);
    margin: 0;
}

.resume--right h2,
.resume--right h3 {
    color: var(--color-work-text)
}

.resume--right h2 {
    font-size: 2rem;
    margin: 0;
    margin-top: 1%;
}

.resume--right h3 {
    display: inline;
    --underline-width-scale: calc(var(--underline-width) / var(--underline-intrinsic-width));
    padding: 0 calc(var(--underline-padding-x) + calc(var(--underline-cap-width) * var(--underline-width-scale)));
    box-decoration-break: clone;
    background-repeat: no-repeat;
    color: var(--background-purp);
    background-image:
        linear-gradient(180deg, var(--underline-color), var(--underline-color)),
        var(--cap-image-left),
        var(--cap-image-right);
    background-position-x:
        calc(var(--underline-cap-width) * var(--underline-width-scale)),
        0,
        100%;
    background-position-y: calc(150% - var(--underline-offset-y) * -1);
    background-size:
        calc(100% - calc(var(--underline-cap-width) * var(--underline-width-scale) * 2)) calc(var(--underline-width) * 1px),
        auto calc(var(--underline-width) * 1px),
        auto calc(var(--underline-width) * 1px);
    font-size: 2rem;
    font-weight: bold;
    --underline-width: 20;
    --underline-offset-y: -2px;
    --cap-image-left: url(https://github.com/MediumBlock/reactportfolio/blob/612c0dd53a964b434c6f3bfefd0e99758229ce7e/src/resources/left.svg?raw=true);
    --cap-image-right: url(https://github.com/MediumBlock/reactportfolio/blob/612c0dd53a964b434c6f3bfefd0e99758229ce7e/src/resources/right.svg?raw=true);
}

.hero--right h1 {
    font-size: clamp(82px, 5vw, 100px);
}

.hero--right h2 {
    margin-top: clamp(10px, 2%, 20px);
}


.hero--right h4 {
    color: rgba(71, 71, 71, 0.75);
    font-size: clamp(12px, 1.5rem, 25px);
    margin-top: clamp(20px, 10%, 50px);
}

.resume--right hr {
    margin-bottom: clamp(15px, 7%, 30px);
    margin-top: clamp(15px, 7%, 30px);
}

.resume--right p,
.resume--right li {
    width: 80%;
    min-width: 500px;
    color: rgba(71, 71, 71, 0.75);
    letter-spacing: 0.7px;
}

.resume--right p {
    color: rgba(71, 71, 71, 0.75);
    font-size: 1.3rem;

}

.resume--right h5 {
    color: var(--subtext-purp);
    font-size: 1.2rem;
    margin: 1% 0 0 0;
}

.resume--right li {
    font-size: 1.2rem;
    line-height: 130%;
    margin-top: 10px;
}

.resume--right b {
    color: rgba(71, 71, 71, 0.85);
}

.education--right h4,
.experience--right h4 {
    font-size: 1.3rem;
    margin: 2% 0 0 0;
    color: var(--background-purp);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
}

.resume--date {
    display: flex;
}

.resume--date>h4:nth-child(2) {
    color: rgba(71, 71, 71, 0.75);
    margin-left: auto;
    margin-right: 0;
    font-size: 1.1rem;
}


.education--right,
.experience--right {
    margin-top: 1%;
    margin-bottom: 2%;
}


@media screen and (max-width: 1200px) {
    .resume--section {
        border: 0;
        padding: 10% 6% 10% 4%;
    }
}

@media screen and (max-width: 800px) {
    .resume--section {
        display: block;
        padding-left: 4%;
        padding-right: 4%;
    }

    .resume--left {
        display: flex;
        width: 100%;
        margin-top: clamp(7px, 3%, 10px);
    }

    .resume--left>div {
        margin-left: 2%;
    }

    .resume--left ul {
        padding-left: 25px;
        margin-top: 5px;
    }

    .resume--left h4 {
        font-size: clamp(13px, 2.5vw, 32px);
    }

    .resume--left li {
        font-size: clamp(11px, 1.9vw, 32px);
    }

    .education--left  {
        width: 40%;
    }

    .tech--left {
        width: 20%;
    }

    .contact--left {
        width: 30%;
    }

    .contact--left h4 {

    }

    .contact--left ul {
        padding-left: 0;
    }

    .resume--right {
        margin-left: 0;
        margin-right: 0;
    }

    .resume--right p,
    .resume--right li {
        width: 100%;
        min-width: auto;
        line-height: 150%;
    }

    .education--right h4, .experience--right h4 {
        margin-top: clamp(10px, 10%, 30px);
    }

    .resume--date {
        /* display: block; */
        flex-direction: column;
    }

    .resume--date>h4:nth-child(2) {
        margin-left: 0;
        margin-right: 0;
        margin-top: 5px;
        margin-bottom: 10px;
        font-size: 0.9rem;
    }
    
    

}



/* MobileNav */

.mobile--bottom {
    position: absolute;
    top: 95%;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 2;
}

.mobile--bottom img {
    position: absolute;
    width: 7%;
    top: -5%;
    left: 46%;
    opacity: 0.7;
}

.mobile--top {
    position: absolute;
    top: 0%;
    right: 0px;
    bottom: 95%;
    left: 0px;
    z-index: 2;
}

.mobile--top img {
    position: absolute;
    width: 7%;
    left: 46%;
    top: 1%;
    transform: rotate(180deg);
    opacity: 0.7;
}